.body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #363636;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 3em;
  margin: 0;
}

.title p {
  font-size: 1.5em;
  margin: 0;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 5%;
}

.connectButton {
  background-color: #4393ee;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 50px; /* Adjust this value based on your layout */
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px; /* Adjust width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Make sure it appears above other content */
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  display: block;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-radius 0.3s;
}

.dropdown-item:hover {
  background-color: #41c9ff;
  color: #FFF;
  transform: scale(1.1);
  border-radius: 10px;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.main-section{
  display: flex;
  flex-direction: row;
}
.sidebar {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 10%;
  height: 20%;
}

.sidebar button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.sidebar button:hover {
  background-color: #00346b;
}

.projects {
  display: flex;
  justify-content: center;
}

.project{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.project img {
  width: 200px;
  height: 430px;
  object-fit: cover;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}


